<!-- Loop over each object in the topic array -->
{{#each topics as |topic| }}

<div class="body-card">
<div class="card mb-3" style="max-width: 500px;">
  <div class="row g-0">
    <div class="col-md-1">
         <div class="up-down-vote-bttns">
          <a href="#"><i class="fa fa-caret-up fa-2x up-vote"></i></a> 
          <a href="#"><i class="fa fa-caret-down fa-2x down-vote"></i></a> 
         </div>
    </div>
    <div class="col-md-8">
        <a href='/topic/{{topic.id}}' target="_blank" class="nav-link">
            <div class="card-body">
              <h5 class="card-title">{{topic.name}}</h5>
              <p class="card-text">{{topic.description}}</p>
              <p class="card-text"><small class="text-muted">Created by {{topic.user.name}} on {{format_date topic.date_created}}</small></p>
            </div>
          </a>
    </div>
  </div>
</div>
</div>


{{/each}}

<script src="./js/homepage.js"></script>
