<!-- Loop over each object in the topic array -->
{{#each topics as |topic| }}


  <a href='/topic/{{topic.id}}' target="_blank" class="nav-link">
  <div class="row mb-4 topic l6 m12 s12 display-card card cardHover">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/topic/{{topic.id}}">{{topic.name}}</a>
    </h2>
    <p>Created by {{topic.user.name}} on {{format_date topic.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{topic.description}}
    </p>
  </div>
<div class="col-md-1 up-down-vote-bttns">
   <div>
        <a href="#"><i class="fa fa-caret-up fa-2x up-vote"></i></a>
  </div>
  <div>
        <a href="#"><i class="fa fa-caret-down fa-2x down-vote"></i></a>
  </div>
  </div>
</div>
</a>

{{/each}}

<script src="./js/homepage.js"></script>
