<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

<div class="mb-3">
  <textarea type="text" class="form-control" id="comment-contents" rows="3" placeholder="I have something to say about this!"></textarea>

  <p>
    <button class="btn btn-primary submitComment">Submit</button>
  </p>
</div>
</div>

<div class="text-center">
  {{#if comments.length}}
  {{#each comments as |comment|}}
<h3>{{comment.content}}</h3>
{{/each}}
{{/if}}
 <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>

<script src="/js/comments.js"></script>